.centered {
  background-image: url(../images/h_img.jpg);
  background-size: cover;
  text-align: center;
}
.contact{
    background-image: url(../images/s_image.jpg);
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 40px;
}
h3 {
    text-align: center;
    font-size: 40px;
}
h4 {
    text-align: center;
    font-size: 40px;
}
h5 {
    text-align: center;
    font-size: 40px;
}
h6 {
    text-align: center;
    font-size: 40px;
}
p {
    text-align: center;
}

.ser{
    background-image: url(../images/s_image.jpg);
    color: white;
}
.icons{
    align-items: center;
}
#design {
    cursor:pointer;
    color: #f31414;
  }
#dev {
    cursor:pointer;
    color: #f31414;
  }
#product {
    cursor:pointer;
    color: #f31414;
}
#design:hover {
    cursor: pointer;
  }

